---
spring:
   datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/full-stack-ecommerce?useSSL=false&useUnicode=yes&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&serverTimezone=UTC
      username: ecommerceapp
      password: ecommerceapp
   jpa:
    properties:
      hibernate-dialect: org.hibernate.dialect.MySQL8Dialect
   data:
    rest:
      base-path: /api
      detection-strategy: ANNOTATED
okta:
  oauth2:
    client-id: 0oa9okz2ehLahixUa5d7
    issuer: https://dev-97778387.okta.com/oauth2/default

#####
#
# HTTPS configuration
#
#####

  #Server web port
server:
  port: 8443
  #QA DEMO
  #port: 9898
  ssl:
    enabled: true
    key-alias: luv2code
    key-store: 
      classpath:luv2code-keystore.p12
    key-store-password: secret
    key-store-type: PKCS12
    
#####
#
# Payment Processing with Stripe
#
#####
